li span,
li button {
    margin: 10px;
}

li {
    word-break: break-word;
}

.select {
    background-color: rgb(241 232 228);
    -webkit-appearance: none;
    color: red;
}

.select-word span{
    color: red;
}

.error {
    color: red;
}

.success {
    color: green;
}
.markdown-section{
    margin: 0 10px;
    margin-bottom: 30px;
    padding: 0;
    max-width: 100%;
}